DEBUG=1
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
TEACHER_PASSCODE=teacher123

POSTGRES_DB=fightthefuture
POSTGRES_USER=fightthefuture
POSTGRES_PASSWORD=fightthefuture
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
