DEBUG=1
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1,fightthefuture.uniwebdev.co.uk
TEACHER_PASSCODE=teacher123
SQLITE_PATH=db.sqlite3

POSTGRES_DB=fightthefuture
POSTGRES_USER=fightthefuture
POSTGRES_PASSWORD=fightthefuture
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
